/*Alphabetisch sortiert*/



@font-face {
    font-family: "PT Sans Narrow";
    src: url("../assets/font/PTSansNarrow-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans Narrow";
    src: url("../assets/font/PTSansNarrow-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../assets/font/PTSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../assets/font/PTSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../assets/font/PTSans-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "PT Sans";
    src: url("../assets/font/PTSans-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}



html {
    font-size: 16px;
    width: 100%;    
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: max-content;
    overflow: auto;
    width: 100%;
    min-height: 100vh;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: rgba(228, 228, 228, 0.856);
    color: black;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-rows: 3rem 1fr 2rem;
}

/*===START OF NAV AREA===*/

.nav-area {
    position: sticky;
    top: 0rem;
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    padding: .6rem;
    font-size: 1.2rem;
    background-color: rgb(25, 25, 25);
    color: #E3D478;
}

.nav-area .nav-container {

    border-left: #E3D478 .2rem solid;
    margin-top: 1.4rem;
    margin-bottom: 1.8rem;
    margin-left: .4rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 95vh;
}

.nav-area a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.nav-area .nav-actual {
    padding: 1rem;
    width: 100%;
}

.nav-area nav ul {
    list-style-type: none;
    width: 100%;
}

.nav-area nav ul li {
    margin: .5rem 0;
    white-space: nowrap;
    color: #E3D478;
    transition: 0.2s;
}

.nav-area nav ul li:hover {
    color: white;
    transform: scale(1.1);
}

.nav-area a:hover {
    color: white;
}

.nav-area .logo-container {
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.7rem;
    font-size: 2.2rem;
}


.nav-area .nav-credits {
    margin-top: auto;
    margin-left: 2rem;
    margin-bottom: 2rem;
    font-size: .8rem;
    font-style: italic;
    font-size: 1.25rem;
}

span.label {
    display: inline-block;
    border: solid 2px #E3D478;
    margin-right: .3rem;
    padding: 0 .2rem;
    width: 2.5rem;
    text-align: center;
    font-size: 80%;
    font-weight: bold;
}

span.label svg {
    width: 1.2rem;
}

button.accordion {
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    background-color: transparent;
    padding-top: .8rem;
    white-space: nowrap;
    color: #E3D478;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 1.5rem;
    text-align: left;
    border: solid 2px #E3D478;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #ccc;
    color: black;
}

/* Style the accordion panel. Note: hidden by default */
.nav-section {
    overflow: hidden;
    padding-left: 2rem;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    margin-bottom: .7rem;
}





/*===END OF NAV AREA===*/


/*===START OF MAIN AREA===*/
main {

    grid-row: 1 / 4;
    grid-column: 2 / 3;
    height: fit-content;
}

main article {
    padding: 2rem;
}

main article p a {
    color: #c1b619;
}

main article p a:visited {
    color: #c1b619;
}

main article strong {
    font-weight: bold;
}


.banner {
    height: 3.5rem;
    color: black;
    width: 100%;
    background-color: #9db5d1b3;
    display: flex;
    justify-content: left;
    padding: 1rem 1.5rem;
    border-left: #2a5f92 .5rem solid;
}

.banner.main-title {
    height: 6rem;
}

.banner h1 {
    font-size: 3.5rem;
    font-weight: bold;
    font-family: 'PT Sans Narrow', sans-serif;
    align-self: center;
    justify-self: left;
}

.banner h2 {
    font-weight: normal;
    font-size: 2rem;
    font-family: 'PT Sans Narrow', sans-serif;
    align-self: center;
    justify-self: left;
}

video {
    padding: 1.5rem 2rem;
    width: 100%;
}

main p {
    margin: 1.5rem 2rem;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.25rem;
    text-align: justify;
}

p.zitat {
    padding: .5rem;
    margin: 1.5rem auto;
    width: fit-content;
    font-style: italic;
    text-align: center;
    text-decoration: none;
    color: #2a5f92 !important;
}

p.zitat a {
    text-decoration: none;
    color: #2a5f92 !important;
}


table {
    border: rgb(25, 25, 25) 2px solid;
    margin: 1.5rem 2rem;
}

/*Tab Stuff*/
.tabbed-section .tabs {
    overflow: hidden;
    display: flex;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tabbed-section .tab-button {
    background-color: inherit;
    font-family: "PT Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    flex: 1;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.tabbed-section .tab-button:hover {
    background-color: #c1deffb3;
    box-shadow: .5rem 0px 0px #3f8ed8 inset;
}

.tabbed-section .tab-button.active {
    background-color: #9db5d1b3;
    box-shadow: .5rem 0px 0px #2a5f92 inset;
}

.tabbed-section .tab-content {
    display: none;
    animation: fadeEffect 1s;
    border: 1px solid #ccc;
    border-top: none;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.tabbed-section .tab-content h2{
    margin: 1rem 2rem;
    font-size: 1.8rem;
}

.tabbed-section a{
    text-decoration: none;
    display: block;
    color: black;    
    padding: .9rem 1rem;
}

main .gallery figure {
    width: 100%;
    display: none;
}

main .inline-gallery-container{
    aspect-ratio: 16 / 9;
    margin: 1rem auto;
    overflow: visible;
}


.lg-content{
    top: 0px !important;
    background-color: rgb(25, 25, 25);
}

.lg-sub-html{
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.418);
    margin: 0 auto;
    padding: .2rem .6rem .2rem .6rem;
    padding-top: .2rem;
    border: 0px hidden #1C6EA4;
    border-radius: .5rem .5rem 0px 0px;
    width: fit-content
}

.lg-progress-bar .lg-progress{
    background-color: #E3D478;
}






/*===END OF MAIN AREA===*/


/*===START OF SIDEBAR AREA===*/
aside.sidebar {
    grid-row: 1 / 4;
    grid-column: 3 / 4;
    width: 100%;
    min-height: 100%;
    height: auto;
    background-color: rgb(25, 25, 25);
    display: flex;
    align-items: center;
    flex-direction: column;
}

aside a {
    text-decoration: none;
}

aside.sidebar .gallery img {
    width: 100%;
}


aside.sidebar figure {
    margin: 1rem;
    transition: .4s;
}

aside.sidebar figure:hover {
    filter: saturate(1.5) brightness(1.2);
    transform: scale(1.02);
}

aside.sidebar figure img {
    max-width: 100%;
}

aside.sidebar figure figcaption {
    color: white;
    text-align: right;
}


/*===END OF SIDEBAR AREA===*/