/*Alphabetisch sortiert*/

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    height: fit-content;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: rgba(228, 228, 228, 0.856);
    color: black;
    text-align: left;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: 3rem 1fr 2rem;
}

/*===START OF NAV AREA===*/

.nav-area {
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    width: 100%;
    padding: 5px;
    max-height: 100vh;
    font-size: 22px;
    background-color: rgb(25, 25, 25);
    color: #E3D478;
}

.nav-area .nav-container {
    position: fixed;
    border-left: #E3D478 1px solid;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 98%;
}

.nav-area a {
    text-decoration: none;
    color: #E3D478;
}

.nav-area .nav-actual{

}

.nav-area nav ul {
    list-style-type: none;
    padding-left: 0px;
}

.nav-area nav ul li {
    padding-top: 10px;
}

.nav-area .logo-container {
    margin-bottom: 30px;
    line-height: 24px;
    font-size: 35px;
}

.nav-area .nav-credits {
    justify-self: flex-end;
    margin-top: auto;
    font-size: 13px;
    font-style: italic;
}





/*===END OF NAV AREA===*/


/*===START OF MAIN AREA===*/
main {

}
main article{
    padding: 2rem;
}

.banner {
    height: 5rem;
    color: black;
    width: 100%;
    background-color: #9db5d1b3;
    display: flex;
    justify-content: left;
    padding-left: 20px;
    margin-bottom: 15px;
    border-left: #2a5f92 9px solid;
}

.zitat {
    font-style: italic;
    text-align: center;
    text-decoration: none;
    color: #2a5f92 !important;
}

.zitat a {
    text-decoration: none;
    color: #2a5f92 !important;
}

/*===END OF MAIN AREA===*/


/*===START OF SIDEBAR AREA===*/
aside.sidebar{
    height: 200px !important;

    grid-row: 1 / 4;
    grid-column: 3 / 4;
    width: 100%;
    padding: 5px;
    min-height: 100%;
    height: auto;
    background-color: rgb(25, 25, 25);
    align-items: flex-start;
    justify-content: center;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

aside.sidebar img {
    max-width: 100%;
    padding: 1rem;

}

/*===END OF SIDEBAR AREA===*/







h1 {
    font-size: 25px;
    font-family: 'PT Sans Narrow', sans-serif;
    align-self: center;
    justify-self: left;
}




p {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}



table {
    border: rgb(25, 25, 25) 2px solid;
}



